*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 10px 10px 20px 10px;
    color: #5f71c8;
    font-family: candara;
    
 
}


div
{
   
}

/*Começo do indice*/

#divDoTopo
{
   display: flex;
   width: 100%;
   height: auto;
   flex-direction: row; 
   align-items: center;
   padding-bottom: 1%;
   border-bottom: 4px double plum; 

}

/*Logo*/

#logoBox
{
    display: flex;
    width: 20%;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    
}

#imagemLogo
{
    width: 50%;
    height: 0;
    padding-bottom: 31%;
    background-image: url("imagens/logo.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 50% ;

}

#textoLogo
{
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    background-image: url("imagens/título.png");
    background-size: 100%;
    background-repeat: no-repeat;
    
}

/*indice*/

#indiceBox
{
    display: flex;
    width: 80%;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.indiceBotao
{
    width: 15%;
    height: 0;
    padding-bottom: 5%;
    border-radius: 15px;
    font-size: 2vw;
    text-align: center;
    line-height: 175%;
    transition: all 1s ;
    font-weight: bold;
    cursor: pointer;
    user-select: none;

}
.indiceBotao:hover
{
    background-color:#5f71c8  ;
    color: white;
    box-shadow: 2px 2px #0303032d;
    text-shadow: 2px 2px #d8d8d86c;

}
/*Fim do indice*/

/*botao whatsapp*/

#whatsapp
{
    width: 5%;
    height: 0;
    padding-bottom: 5%;
    position: fixed;
    right: 1%;
    bottom: 2%;
    border-radius: 50%;

}

#teste
{
    height: 0;
    padding-bottom: 1000%;
}