*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 10px 10px 20px 10px;
    color: #5f71c8;
    font-family: candara;
    
 
}

/*Começo do indice*/

#divDoTopo
{
   display: flex;
   width: 100%;
   height: auto;
   flex-direction: row; 
   align-items: center;
   padding-bottom: 1%;
   border-bottom: 2px double plum; 

}

/*Logo*/

#logoBox
{
    display: flex;
    width: 20%;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    
}

#imagemLogo
{
    width: 50%;
    height: 0;
    padding-bottom: 31%;
    background-image: url("imagens/logo.jpg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 50% ;

}

#textoLogo
{
    width: 100%;
    height: 0;
    padding-bottom: 20%;
    background-image: url("imagens/título.png");
    background-size: 100%;
    background-repeat: no-repeat;
    
}

/*indice*/

#indiceBox
{
    display: flex;
    width: 80%;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.indiceBotao
{
    width: 15%;
    height: 0;
    padding: 1% 0 6% ;
    border-radius: 17px;
    font-size: 2vw;
    text-align: center;
    line-height: 175%;
    transition: all 1s ;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    text-shadow: 2px 2px #d8d8d86c;

}
.indiceBotao:hover
{
    background-color:#5f71c8  ;
    color: white;
    box-shadow: 2px 2px #0303032d;
    text-shadow: 2px 2px #d8d8d86c;

}
/*Fim do indice*/

/*botao whatsapp*/

#whatsapp
{
    width: 5%;
    height: 0;
    padding-bottom: 5%;
    position: fixed;
    right: 1%;
    bottom: 2%;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("imagens/whatsapp-logo-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    

}

/*pagina inicial*/

#avisobox
{
    position: relative;
    border: 2px solid plum;
    border-radius: 20px;
    margin: 1%;
    height: auto;
    width: 25%;
    position: absolute;
    right: 1%;
    color: #5f71c8;
    text-align: center;
    padding-bottom: 3%;
    font-size: 3vw;
    font-weight: bold;
    text-shadow: 2px 2px #0303032d;
    box-shadow: 1px 1px #0303032d;
    pointer-events: none;
    user-select: none;

}

#avisobox h2
{
   margin: 10px;

}
#avisobox p
{
    margin: 10px;

}

#slide
{
    border: 2px solid plum;
    width: 60%;
    height: 0;
    padding-bottom: 20%;
    position: absolute;
    top: 22%;
    left: 6%;
    border-radius: 20px;
}

#setaDireita
{
    width: 3.5%;
    height: 0;
    padding-bottom: 5%;
    background-image: url("imagens/setaDireita.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right:2%;
    top: 40%;
    
}

#setaEsquerda
{
    width: 3.5%;
    height: 0;
    padding-bottom: 5%;
    background-image: url("imagens/setaEsquerda.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 2%;
    top: 40%;

}

#inicio
{
    transition: all 1s;

}

#consultorio
{
    transition: all 1s;
    display: none;


}

#tratamento
{
    transition: all 1s;
    display: none;

}

#sobrenos
{
    transition: all 1s;
    display: none;

}

#contato
{
    transition: all 1s;
    display: none;

}